<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companies/css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js" integrity="sha512-XSmbX3mhrD2ix5fXPTRQb2FwK22sRMVQTpBP2ac8hX7Dh/605hA2QDegVWiAvZPiXIxOV0CbkmUjGionDpbCmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>MyLane</title>
</head>

<body>
    <header>
        <div class="dropdown">
            <select name="company" id="companyDropdown" class="dropdown__select">
                {% for company in companies %}
                <option value="{{ company.company_id }}">{{ company.company_name }}</option>
                {% endfor %}
            </select>
        </div>
    </header>
    <main>
        <section id="companyDetails"></section>
        <section id="charts">
            <div id="cityChart" style="width: 600px; height: 400px;"></div>
            <div id="jobFamilyChart" style="width: 600px; height: 400px;"></div>
        </div>
    </main>
    <footer></footer>
</body>
<script src="{% static 'companies/js/company_details.js' %}"></script>
<script src="{% static 'companies/js/charts.js' %}"></script>
</html>
